<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <table class="table table-striped table-hover">
      <tr>
        <th>
          <h4 class="card-title">You loved the <%=@dish.name%> at... </h4></th>
        <th><% if @dish.cuisine.present? %>
            <h4 class="card-title"><span class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </span></h4>
          <% end %></th>
      </tr>


      <tr>
        <td>
          <form action="/create_bookmark" class="form-inline" method="post">

            <input type="hidden" name=dish_id value="<%=@dish.id%>">
            <input type = "hidden" name="user_id" value="<%=current_user.id%>">

            <!-- Label and input for venue_id -->
            <label for="venue_id" class="control-label sr-only">
              Venue
            </label>

            <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name),:prompt => "Choose a venue...   ", :class => "form-control") %>
            <span><button class="btn btn-primary btn-sm">
                <i class="fa fa-heart"></i>
              </button></span>
          </form>
        </td>
        <td><small class="float-right text-muted"> right now </small></td>
      </tr>
      <tr>
        <% Bookmark.where(user_id: current_user.id, dish_id: @dish.id).order(created_at: :desc).each do |bookmark| %>
          <td>
            <% if (Venue.find(bookmark.venue_id).name) != nil   %>

              <a href="/venues/<%=Venue.find(bookmark.venue_id).id %>">
                <%= Venue.find(bookmark.venue_id).name %>
              </a>
          </td>
          <td><small class="float-right text-muted"> <%= time_ago_in_words(bookmark.updated_at) %>
              <a href="/bookmarks/<%=bookmark.id%>/edit">
                  <i class="fa fa-fw fa-edit"></i>
              </a>

              <a href="/delete_bookmark/<%=bookmark.id%>">
                  <i class="fa fa-fw fa-trash-o"></i>
              </a></small></td>
      </tr>
      <% end %>
      <% end %>
    </table>
    <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
</div>
  </div>
</div>


