<div class="row mt-2 justify-content-md-center">
<div class="col-md-6">
    <table class="table table-striped table-hover">
      <tr>
        <th>You loved the <%=@dish.name%> at</th>
        <th><% if @dish.cuisine.present? %>
            <span class="badge badge-primary float-right">
              <%= @dish.cuisine.name %> 
            </span>
          <% end %></th>
      </tr>

      <tr>
        <td>
          <a href="/venues/<%=Bookmark.where(user_id: current_user.id, dish_id: dish.id).last.venue_id%>"> 
          <%= Venue.find(Bookmark.where(user_id: current_user.id, dish_id: dish.id).last.venue_id).name %>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <% if (Bookmark.where(user_id: current_user.id, dish_id: @dish.id).   %>
          
          
          
          <% else %>
           <form action="/create_bookmark" class="form-inline" method="post">
           
           <input type="hidden" name=dish_id value="<%=dish.id%>">
           <input type = "hidden" name="user_id" value="<%=current_user.id%>">
           
           <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>
                
                <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name),:prompt => "Choose a venue...   ", :class => "form-control") %>
              <span><button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button></span>
              </form>
        <% end %>
        </td>
        
      </tr>
      <% end %>
    </table>
    <%= paginate @dishes, theme: 'twitter-bootstrap-4' %>
  </div>
  </div>
